* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ad-text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 10px;
    color: white;
}

.ad-text h2 {
    font-size: 15px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 45px;
}

header .title {
    display: none;
    font-weight: 600;
}

header .c-logo img {
    height: 80px;
    border-radius: 50%;
}

header section {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .c-links {
    margin-right: 50px;
}

header .c-links ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header .c-links ul li {
    margin-left: 20px;
}

header .c-links ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    text-decoration: none;
    font-size: 15px;
    margin-right: 10px;
    color: black;
}

header .c-links ul li a:hover {
    padding: 10px;
    border-radius: 4px;
    background-color: whitesmoke;
}

header .c-links ul li a i {
    margin-left: 5px;
}

header .c-menu i {
    font-size: 20px;
}

.delivery-ad .background-img {
    filter: brightness(10%);
    position: absolute;
    width: 100%;
    height: 280px;
}

.delivery-ad section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 280px;
}

.delivery-ad section .text {
    padding: 10px 220px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    color: white;

}

.delivery-ad section .delivery-action {
    padding: 10px 20px;
    background: none;
    border: 1px solid white;
    font-size: 15px;
    color: white;
}

.credits {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.credits .author {
    opacity: 80%;
    font-size: 10px;
    font-weight: 600;
    text-align: right;
    margin-right: 5px;
    width: 100%;
}

.container-style {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 45px;
}

.container-style .container-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-style .container-post .photo {
    padding: 10px 20px;
    width: 100%;
    flex: 1;
}

.container-style .container-post .photo .credits {
    font-size: 10px;
    font-weight: 600;
    text-align: right;
    opacity: 80%;
}

.container-style .container-post img {
    width: 400px;
    height: auto;
}

.container-style .container-post .info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container-style .container-post .info .title {
    font-size: 16px;
}

.container-style .container-post .info .text {
    font-size: 15px;
    font-weight: 600;
    padding-right: 70px;
    margin: 40px 0;
}

.container-style .container-post .info .call-to-action {
    background: none;
    border: 1px solid black;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    padding: 10px;
}

footer .background-img {
    object-fit: cover;
    position: absolute;
    filter: brightness(10%);
    width: 100%;
    height: 300px;
}

footer .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 300px;
}

footer .content .networks {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .content .networks ul {
    list-style: none;
}

footer .content .networks li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition-duration: 0.2s;
    margin-right: 15px;
    border-radius: 50%;
    font-size: 18px;
    width: 45px;
    height: 45px;
}

footer .content .networks li:hover {
    font-size: 20px;
    width: 55px;
    height: 55px;
}

footer .content .more ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 15px 0;
}

footer .content .more ul li {
    margin-right: 10px;
}

footer .content .more ul li a {
    transition: 0.1s;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: white;
}

footer .content .more ul li a:hover {
    opacity: 50%;
}

footer .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .copyright-text {
    opacity: 70%;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

@media (max-width: 800px) {
    * {
        padding: 0;
        margin: 0;
        font-size: 15px;
    }

    header {
        padding: 10px 35px;
    }

    header .title {
        display: block;
    }

    header .c-logo img {
        height: 90px;
        width: 100%;
    }

    header section .c-links {
        display: none;
    }

    header .c-menu i {
        font-size: 30px;
    }

    .delivery-ad .background-img {
        height: 200px;
    }

    .delivery-ad section {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 200px;
    }

    .delivery-ad section .text {
        padding: 0 25px;
        margin-bottom: 15px;
        font-size: 13px;
    }

    .container-style {
        padding: 25px;
    }

    .container-style .container-post {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .container-style .container-post .photo {
        width: 100%;
    }

    .container-style .container-post .photo .credits {
        font-size: 8px;
        font-weight: 600;
        text-align: right;
        opacity: 80%;
    }

    .container-style .container-post img {
        width: 300px;
        height: auto;
    }

    .container-style .container-post .info {
        display: flex;
        flex-direction: column;
        margin: 15px;
    }

    .container-style .container-post .info .title {
        font-size: 12px;
    }

    .container-style .container-post .info .text {
        font-size: 12px;
        font-weight: 600;
        margin: 15px 0;
        padding: 0;
    }

    .container-style .container-post .info .call-to-action {
        background: none;
        border: 1px solid black;
        font-size: 15px;
        font-weight: 600;
        width: 120px;
        padding: 10px;
    }

    footer .content {
        padding: 15px  30px;
    }

    footer .content, .networks, .more {
        font-size: 15px;
    }

    footer .content .copyright-text {
        font-size: 15px;
    }
}